
header {
    background: #337ab7;
}

hr.star-light:after {
	background-color: #337ab7;
}

hr.star-primary:after {
	background-color: #337ab7;
}
section.success {
	background-color: rgba(182, 221, 255, 0.52);
	color: black;
}

.row {
	margin-bottom: 30px;
}

.row-special {
	margin-bottom: 0px;
}

body {
	background-color: #337ab7;
	color: white;
}