
header {
    background: #337ab7;
}

hr.star-light:after {
	background-color: #337ab7;
}

.row {
	margin-bottom: 30px;
}

.row-special {
	margin-bottom: 0px;
}

.portfolio-container {
	background-color: #337ab7;
}